
body {
    background-color: #D3D3D3;
    background-image: url("background_trees.png");
    background-size: 460px 500px;
    background-repeat: repeat repeat;
    text-align: center;
    padding-top: 40px;
}

.adventCalendar {
    width: 960px;
    height: 600px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    background-image: url("present_background_doors.png");
    background-position: top center;
    background-attachment: fixed;
    background-size: 1050px 650px;
}

.row {
    /* height is exactly 1 / 4 of the advent calendar height */
    height: 150px;
    padding-left: 22px;
    padding-top: 10px;
}

.day {
    height: 150px;
    float: left;
    /* width is exactly 1 / 6 of the advent calendar width */ 
    width: 160px;
}

/*.tile div */
.tile {
    /* exactly 90% of the width of day and height of row */
    width: 144px;
    height: 135px;
}

.tileBack {
    background: #74D680;
    width: 144px;
    height: 135px;    
    position: absolute;
}

.tileTop {
    width: 144px;
    height: 135px;
    border: 2px dotted white;
    border-left: none;
    background-color: #74D680;
    background-image: url("present_background_doors.png");
    background-position: top center;
    background-size: 1050px 650px; 
    background-attachment: fixed; 
    cursor: pointer;
    position: absolute;
}

.chocolate {
    width: 144px;
    height: 135px;
    position: absolute;
    background: #74D680;
    cursor: pointer;
}

.chocolateBite {
    width: 144px;
    height: 135px;
    position: absolute;
    background: #74D680;
    cursor: pointer;        
}

.dayContent {
    padding-top: 25px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    font-style: Glegoo;
    font-size: 48px;
    text-shadow: 1px 1px white;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    position: absolute; 
}

.factBehindDoor {
    text-align: center;
    padding-top: 5px;
    vertical-align: middle;
    font-size: 14px;
    font-style: Comic Sans MS;
    color: black;
}

.chocolateImg {
    /* used bevel -> difuse light feature for chocolate in inkscape */ 
    width: 130px;
    height: 130px;
    vertical-align: middle;
}

.lockedPopup {
    display: none;
    font-size: 12px;
    text-align: center;
} 

/**
.timezone {
    font-size: 40px;
} **/

.doorOpen {
    -webkit-animation: leftOpen 0.90s ease 0.40s;
    -webkit-animation-fill-mode: forwards; 
}

.doorClose {
    -webkit-animation: leftClose 0.90s ease 0s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes leftOpen {
    from {
       -webkit-transform: perspective(1000) rotateY(0deg);
       -webkit-transform-origin: 0% 0%;
    }
    to {
       -webkit-transform: perspective(1000) rotateY(-100deg);
        -webkit-transform-origin: 0% 50%;
    }
}

@-webkit-keyframes leftClose {
    from {
       -webkit-transform: perspective(1000) rotateY(-100deg);
       -webkit-transform-origin: 0% 50%;
    } 
    to {
       -webkit-transform: perspective(1000) rotateY(0deg);
        -webkit-transform-origin: 0% 0%;
    }
}



