
body {
    background-color: #D3D3D3;
    background-image: url("images/background_trees.png");
    background-size: 460px 500px;
    background-repeat: repeat repeat;
    text-align: center;
    padding-top: 40px;
}

.adventCalendar {
    width: 960px;
    height: 600px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    background-image: url("images/present_background_doors.png");
    background-position: -1 4;
}

.row {
    /* height is exactly 1 / 4 of the advent calendar height */
    height: 150px;
    padding-left: 22px;
    padding-top: 10px;
}

.day {
    height: 150px;
    float: left;
    /* width is exactly 1 / 6 of the advent calendar width */ 
    width: 160px;
}

/*.tile div */
.tile {
    /* exactly 90% of the width of day and height of row */
    width: 144px;
    height: 135px;
}

.tileBack {
    background: #74D680; 
    width: 144px;
    height: 135px;    
    position: absolute;
}

.tileTop {
    width: 144px;
    height: 135px;
    border: 2px dotted white;
    border-left: none;
    cursor: pointer;
    position: absolute;
    background-color: #74D680; 
    background-image: url("images/present_background_doors.png");
}

.chocolate {
    width: 144px;
    height: 135px;
    position: absolute;
    background: #74D680;
    cursor: pointer;
}

.chocolateBite {
    width: 144px;
    height: 135px;
    position: absolute;
    background: #74D680;
    cursor: pointer;        
}

.dayContent {
    padding-top: 25px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    font-style: Glegoo;
    font-size: 48px;
    text-shadow: 1px 1px white;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    position: absolute; 
}

.factBehindDoor {
    text-align: center;
    padding-top: 5px;
    vertical-align: middle;
    font-size: 14px;
    font-style: Comic Sans MS;
    color: black;
}

.chocolateImg {
    /* used bevel -> difuse light feature for chocolate in inkscape */ 
    width: 130px;
    height: 130px;
    vertical-align: middle;
}

.lockedPopup {
    display: none;
    font-size: 12px;
    text-align: center;
} 

.doorOpen {
    -webkit-animation: 0.90s ease 0s leftOpen;
    -o-animation: 0.90s ease 0s leftOpen;
    animation: 0.90s ease 0s leftOpen;
    -webkit-animation-fill-mode: forwards, none;
    -o-animation-fill-mode: forwards, none;
    animation-fill-mode: forwards, none;
}

.doorClose {
    -webkit-animation: 0.90s ease 0s leftClose;
    -o-animation: 0.90s ease 0s leftClose;
    animation: 0.90s ease 0s leftClose;
    -webkit-animation-fill-mode: forwards, none;
    -o-animation-fill-mode: forwards, none;
    /* none property should return back to previous set CSS */
    animation-fill-mode: forwards, none;
}
 
@-webkit-keyframes leftOpen {
    from {
       -webkit-transform: perspective(1000px) rotateY(0deg);
       -webkit-transform-origin: 0% 0%;
    }
    to {
       -webkit-transform: perspective(1000px) rotateY(-100deg);
       -webkit-transform-origin: 0% 50%;
    }
}

@-o-keyframes leftOpen {
    from {
       -o-transform: perspective(1000px) rotateY(0deg);
       -o-transform-origin: 0% 0%;
    }
    to {
       -o-transform: perspective(1000px) rotateY(-100deg);
       -o-transform-origin: 0% 50%;
    }
}

@keyframes leftOpen {
    from {
       transform: perspective(1000px) rotateY(0deg);
       transform-origin: 0% 0%;
    }
    to {
       transform: perspective(1000px) rotateY(-100deg);
       transform-origin: 0% 50%;
    } 
}

@-webkit-keyframes leftClose {
    /* 0% is equivalent to from; the starting point of the animation */
    from {
       -webkit-transform: perspective(1000px) rotateY(-100deg);
       -webkit-transform-origin: 0% 50%;
    } 
    /* 100% is equivalent to 'to'; the ending point of the animation */
    to {
       -webkit-transform: perspective(1000px) rotateY(0deg);
       -webkit-transform-origin: 0% 0%;
    }
}

@-o-keyframes leftClose {
    from {
       -o-transform: perspective(1000px) rotateY(-100deg);
       -o-transform-origin: 0% 50%;
    } 
    to {
       -o-transform: perspective(1000px) rotateY(0deg);
       -o-transform-origin: 0% 0%;
    }
}

@keyframes leftClose {
    from {
       transform: perspective(1000px) rotateY(-100deg);
       transform-origin: 0% 50%;

    } 
    to {
       transform: perspective(1000px) rotateY(0deg);
       transform-origin: 0% 0%;
    }
}



