
body {
    background-color: #D3D3D3;
    /* url("whistler_snow.jpg"); 
    background-size: 1400px 800px; */
    text-align: center;
    padding-top: 40px;
}

.adventCalendar {
    background-image: url("present_background.png");
    background-size: 100% 100%;
    opacity: 1;
    filter: alpha(opacity=100);
    width: 960px;
    height: 600px;
    display: inline-block;
    /* background-size: 1050px 650px; */
}

.row {
    /* height is exactly 1 / 4 of the advent calendar height */
    height: 150px;
    padding-left: 22px;
    padding-top: 10px;
    /* padding-top: 5px;
    padding-right: 5px; */
}

.day {
    height: 150px;
    float: left;
    /* width is exactly 1 / 6 of the advent calendar width */ 
    width: 160px;
}

/*.tile div */
.tile {
    /* exactly 90% of the width of day and height of row */
    width: 144px;
    height: 135px;
    /* padding-left: 10px; */
}

.tileBack {
    background: #74D680;
    width: 144px;
    height: 135px;    
    position: absolute;
}

.tileTop {
    background-image: url("present_background.png");
 /*    background-size: 1000px 700px; */
    background-attachment: fixed;  
    background-size: 100% 100%;
    width: 144px;
    height: 135px;
    border: 2px dotted white;
    border-left: none;
 /*   background: red; */
    cursor: pointer;
    display: block;
    position: absolute;
}

.chocolate {
    width: 144px;
    height: 135px;
    position: absolute;
    background: #74D680;
}

.chocolateBite {
    width: 144px;
    height: 135px;
    position: absolute;
    background: #74D680;
}

.dayContent {
    padding-top: 25px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    font-style: Glegoo;
    font-size: 48px;
    text-shadow: 1px 1px white;
    cursor: pointer;
    position: absolute; 
}

.factBehindDoor {
    text-align: center;
    padding-top: 5px;
    vertical-align: middle;
    font-size: 14px;
    font-style: Comic Sans MS;
    color: black;
}

.chocolateImg {
    /* used bevel -> difuse light feature for chocolate in inkscape */ 
    width: 130px;
    height: 130px;
    vertical-align: middle;
}

.doorOpen {
    -webkit-animation: leftOpen 0.90s ease 0.40s;
    -webkit-animation-fill-mode: forwards; 
}

.doorClose {
    -webkit-animation: leftClose 0.90s ease 0s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes leftOpen {
    from {
       -webkit-transform: perspective(1000) rotateY(0deg);
       -webkit-transform-origin: 0% 0%;
    }
    to {
       -webkit-transform: perspective(1000) rotateY(-100deg);
        -webkit-transform-origin: 0% 50%;
    }
}

@-webkit-keyframes leftClose {
    from {
       -webkit-transform: perspective(1000) rotateY(-100deg);
       -webkit-transform-origin: 0% 50%;
    } 
    to {
       -webkit-transform: perspective(1000) rotateY(0deg);
        -webkit-transform-origin: 0% 0%;
    }
}



